@model IEnumerable<DOT.NET.Models.Zamowienie>
@{
    ViewBag.Title = "ListaZamowien";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<h2>Twoje zamówienia</h2>

<div>

    @if (Model.Any())
    {
        <table id="zamowienia-table">

            @foreach (var zamowienie in Model)
            {
                <tr @if (zamowienie.StanZamowienia == DOT.NET.Models.StanZamowienia.Nowe) { <text> class="noweZamowienie" </text> }>
                    <td>
                        <strong>Nr zamówienia: </strong>@zamowienie.ZamowienieId
                    </td>
                    <td>
                        <strong>Data: </strong>
                        @zamowienie.DataDodania.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        <strong>Stan: </strong><br />

                        @if (ViewBag.UserIsAdmin)
                        {
                            using (Html.BeginForm("ZmianaStanuZamowienia", "Manage"))
                            {
                                @Html.HiddenFor(o => zamowienie.ZamowienieId)
                                @Html.EnumDropDownListFor(o => zamowienie.StanZamowienia, new { @class = "StanZamowieniaZmien" })
                            }
                        }
                        else
                        {
                            @Html.DisplayFor(o => zamowienie.StanZamowienia)
                        }
                    </td>
                    <td>
                        <strong>Dane wysyłkowe:</strong><br />
                        @zamowienie.Imie @zamowienie.Nazwisko<br />
                        @zamowienie.Adres<br />
                        @zamowienie.KodPocztowy @zamowienie.Miasto<br />
                    </td>
                    <td>
                        <strong>Uwagi: </strong><br />
                        @zamowienie.Komentarz
                    </td>
                    <td>
                        <strong>Łączny koszt:</strong> @zamowienie.WartoscZamowienia zł
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <section>
                            <ul class="TrzyKolumnyList duzaListaKursy-bottom">

                                @foreach (var pozycjaZamowienia in zamowienie.PozycjeZamowienia)
                                {
                                    <li>
                                        <article>
                                            <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Przedmioty", new { id = pozycjaZamowienia.PrzedmiotId })">
                                                <img class="kurs" src="@Url.Content("~/Content/Przedmioty/" + pozycjaZamowienia.przedmiot.NazwaPlikuObrazka)" />
                                                <h1>
                                                    @pozycjaZamowienia.przedmiot.Producent - @pozycjaZamowienia.przedmiot.Nazwa<br />
                                                    <strong>sztuk: @pozycjaZamowienia.Ilosc, łącznie: @(pozycjaZamowienia.Ilosc * @pozycjaZamowienia.CenaZakupu)  zł</strong>
                                                </h1>
                                            </a>
                                        </article>
                                    </li>
                                }
                            </ul>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                </tr>
                <!-- nastepne zamowienie -->
            }
        </table>
    }
    else
    {
        <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
            Brak zamówień.
        </div>
    }
</div>
</div>



