<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Tag helper used -->
                <a class="navbar-brand" href="~/">Sklep internetowy</a>
            </div>
            <ul class="nav navbar-nav">

                <li><a href=@Url.Action("Index", "Manage")>Twoje dane</a></li>
                <li><a href="@Url.Action("Index", "Koszyk")" style="float:right;">Koszyk (@Html.Action("PobierzIloscElementowKoszyka", "Koszyk"))</a></li>
                <li><a href=@Url.Action("ListaZamowien", "Manage")>Zamówienia</a></li>
                <!--TagHelper asp-append-version -->
                @if (User.IsInRole("Admin"))
                {
                    <li><a href=@Url.Action("DodajPrzedmiot", "Manage")>Dodaj przedmiot</a></li>
                }
                <li><img src="~/Content/Images/logo2.png" asp-append-version="true"></li>
            </ul>
        </div>
        @Html.Partial("_LoginPartial");
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div style="width:50%; margin:0 auto; padding-top: 4px;">
                <!-- url.action helpers -->
                <a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Onas" }, null)" type="button" class="btn btn-default">O nas</a>
                <a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Regulamin" }, null)" type="button" class="btn btn-default">Regulamin</a>
                <a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Dostawa" }, null)" type="button" class="btn btn-default">Dostawa</a>
                <a href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Kontakt" }, null)" type="button" class="btn btn-default">Kontakt</a>
            </div>
            <br />
            <p>&copy; @DateTime.Now.Year DOT </p>

        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>